POSTGRES_PASSWORD=cantuscatholici_dev
POSTGRES_HOST=db
POSTGRES_USER=cantuscatholici
POSTGRES_DB=cantuscatholici
POSTGRES_PORT=5432
LOG_DB_ENGINE_ECHO=false
APP_STATIC_CONTENT_PREFIX=/data/cantuscatholici
AUTH_SECRET_KEY=dev-secret-key-change-in-production
DOCKER_IMAGE=cantuscatholici-api
TRANSPOSITION_SERVICE_URL=http://transposition-service:8001
